.item {
    display: flex;
    justify-content: space-between;

    border: 1px solid grey;
}

.item_list {
    overflow-y: auto;
    height: 100%;
}

.item_btn {
    // display: block;
    margin-left: 5px;

    border-radius: 5px;
    padding: 5px;
}

.amount_wrapper {
    display: flex;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 25px;
        height: 25px;
        background-color: coral;

        line-height: 0;
    }

    input {
        margin: 0 5px;
        width: 30px;
    }
}

.btn_wrapper {
    display: flex;
}

.btn_change {
    background-color: lightgreen;
}

.btn_delete {
    background-color: lightsalmon;
}

.btn_restore {
    background-color: lightblue;
}