@import "/src/style/mixins";
@import "/src/style/variables";

.item {
    display: flex;
    justify-content: space-between;

    border: 1px solid grey;
}

.item_list {
    overflow-y: auto;
    height: 100%;
}

.item_btn {
    @include item_btn;
}

.btn_change {
    @include btn_change;
}

.btn_delete {
    @include btn_delete;
}

.btn_restore {
    @include btn_restore;
}

